

/* CADASTRAR COMENTÁRIOS */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: lightyellow;
}

.container-comentario{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    position: relative;
    top: 50px;
}

h1{
    color: darkorange;
}

h2{
    color: orange;
}

.form-comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-comentario label{
    font-weight: bold;
    color: darkorange;
}

.form-comentario input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border-color: yellow;
    background-color: lightyellow;
}

.button{
    font-weight: bold;
    background-color: yellow;
    border-radius: 30px;
    border: 0;
    width: 200px;
    height: 40px;
    box-shadow: 5px 5px 5px orange;
}

.button:hover{
    background-color: darkgoldenrod;
    color: yellow;
    box-shadow: yellow;
}

.container-mensagens{
    position: absolute;
    width: 800px;
    height: 290px;
    background-color: yellow;
    top: 350px;
    left: 215px;
    border: 2px;
    border-radius: 20px;
}

.mensagens {
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 755px;
    height: 130px;
    gap: 5px;
}

.mensagem p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.mensagem p::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}


.btn-excluir{
    width: 100px;
    height: 25px;
    background-color: yellow;
    border: none;
    border-radius: 15px;
}

.btn-excluir a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.btn-avaliacao{
    width: 50px;
    height: 25px;
    /* display: flex; */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: orange;
    font-weight: bold;
}


.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
    margin-left: 185px;
}

.botoes p{
    width: 50px;

}

