<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <title>Pagina principal</title>

</head>
<body>
    
    <div class="container-comentario">

        <h1>FEEDBACK🌻</h1>

        <h2>Master página</h2>

       <form action="/post/mensagem" method="POST" class="form-comentario">
    
        <label for="label-usuario">Usuário</label>
        <input type="text" placeholder="Digite seu nome" name="usuario">

    
        <label for="label-comentario">Comentário</label>
        <input type="text" placeholder="Escreva seu comentário" name="mensagem">
        
        <button type="submit" class="button">ENVIAR 💛</button>

        </form>
        <div class="mensagens">
            {% for mensagem in mensagens %}
            <div class="mensagem">
                <p> {{mensagem.mensagem}}</p>
                <strong>{{mensagem.usuario}}</strong>
                {{mensagem.data_hora}}

                <div class="botoes">
                    <a href="/delete/mensagem/{{mensagem.codigo}}"><button class="btn-excluir">Excluir</button></a>

                    <a href="/put/mensagens/adicionar/curtida/{{mensagem.codigo}}"><button class="btn-avaliacao like">Like</button></a>

                    <a href="/put/mensagens/adicionar/dislike/{{mensagem.codigo}}"><button class="btn-avaliacao dislike">Dislike</button></a>

                    <p>{{mensagem.curtidas}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</body>
</html>